@media (min-width: 1px) and (max-width: 320px) {
    .bodytkp {
        /* background-origin: content-box; */
        background-image: url('../../img/Background.jpg');
        /* background-size: 100%; */
        background-position: -500px -200px;
    }

    .scratchpad{
        width: 80px;
        height: 80px;
    }
    #scratchpad-container {
        margin-top: 0px;
        width: 320px;
        /* border: solid 1px; */
        position: relative;
        background-image: url('../../img/Raspadinha.png');
        background-repeat: no-repeat;
        height:350px;
        background-size: 330px;
        background-position: center center;
    }
    #raspadinha {
        position: absolute; 
        bottom: 80px; 
        right: 38px;
    }

    .msg{
        /* border: solid 1px; */
        width: 270px;
        position:relative;
        font-family: 'Montserrat', sans-serif; 
        font-weight: bold; 
        font-style: normal;
        margin-top: 10px; 
        margin-left: 10px;
        font-size: 12px;
        text-align: center;
        line-height: 17px;
        color: #fff
    }
    #balloon01 {
        position:absolute;
        right:10%;
        top: -250px;
        display: none;
    }
    #balloon02 {
        width:50%;
        position:absolute;
        right:-50px;
        bottom: -250px;
        display: none;
    }
}