@media (min-width: 426px) and (max-width: 767px) {
    .bodytkp {
        background-origin: content-box;
        background-image: url('../../img/Background.jpg');
        background-size:cover;
    }

    .scratchpad{
        width: 156px;
        height: 156px;
    }
    #scratchpad-container {
        margin-top: 150px;
        width: 625px;
        position: relative;
        background-image: url('../../img/Raspadinha.png');
        background-repeat: no-repeat;
        height:600px;
        background-position: center center;
    }
    #raspadinha {
        position: absolute; 
        bottom: 120px; 
        right: 76px;
    }
}